/old
/build
/config2
/output
/g_output
/csv
/.idea
/.vscode
/g_input
*.swp
/node_modules
/__pycache__
/config2
.gitignore
*.html
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
